@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 80%);
}
#pageTitle {
    display: block;
    margin-top: 20pt;
    color: hsl(0, 0%, 80%);
    text-align: center;
}
table {
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table tr:nth-child(even) {
    background-color: hsl(0, 0%, 25%);
}
th, td {
    border: 0px;
    text-align: left;
    padding: 8px;
}
th {
    background-color: hsl(0, 0%, 13%);
}
tfoot {
    background-color: hsl(0, 0%, 13%);
    font-weight: bold;
}
a:link {
    color: hsla(0, 100%, 50%, 0.75);
}
a:visited, a:hover {
    color: hsla(0, 100%, 50%, 0.5);
}
.subHeader2 {
    margin-left: 20%;
}
.photoGallery {
    margin:auto;
    width: 60%;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 10px;
    justify-content: center;
}
.photoGallery figure { 
    flex: 1 1 30%;
    box-sizing: border-box; 
    margin: 0; 
} 
.photoGallery img { 
    width: 100%; 
    height: auto; 
    max-height: 300px;
    object-fit: cover;
    display: block; 
} 
.photoGallery figcaption { 
    text-align: center; 
    padding: 5px; 
    color: hsl(0, 0%, 80%); 
}